body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

div,section, h1, h2, h3, p {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 15pt;
 }
 h1, h2{
    margin: 0 0 10px 0;
    text-transform: uppercase;
 }

 a {
    color: var(--color-white);
 }

.container {
    /*margin-left: 3rem;
    margin-right: 3rem; */
    justify-content: start;
    background-color: black;
}

.head {
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(eva_unit_01_by_sirspy_edited.jpg);
}

.head p {
    font-size: .8em;
}

.pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.form .pict {
    width: 300px;
    border: 5px solid green;
}

.form img {
    width: 150px;
    justify-content: center;
}

.side {
    margin-left: 20px;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    background-color: black;
}

.menu {
    list-style: none;
    padding: 20px;
    color: white;
}

.about {
    background-color: purple;
    margin: 10px;
    padding: 10px;
}

.about h2{
    color: white;
}

.about div {
    display: flex;
    justify-content: center;
}

.about video {
    width: 600px;
}

.experience {
    background-color: purple;
    margin: 10px;
    padding: 10px;
}

.experience table{width: 100%;}

table {
    border-color: black;
    border-collapse: collapse;
    text-align: center;
    background-color: rgb(0, 92, 0);
}

table th, table td {
    padding: 5px;
    
}

thead {
    background-color: green;
    font-weight: bold;
    text-transform: capitalize;
}

.form {
    background-color: purple;
    margin: 10px;
    padding: 10px;
}

.form form button:hover{
    background-color: rgb(134, 134, 134);
}

footer {
    padding: 5px;
    text-align: center;
}